<div id="docentes" class="p-15 flex flex-col gap-8" style="align-items: center">
  <div class="frase" style="align-items: center">
    <span class="frase-sub">Docentes calificados</span>
    <span class="frase-title" style="text-align: center">Nuestro plantel docente</span>
  </div>
</div>

<p-carousel
  [value]="docentes"
  [numVisible]="1"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="5000"
  [showIndicators]="true"
  styleClass="w-full"
>
  <ng-template pTemplate="item" let-docente>
    <div class="cursos-ensamblado">
      <div class="ensamblado flex flex-row gap-4 bg-white p-6">
        <div class="w-1/2 flex justify-center items-center">
          <img [src]="docente.imagen" alt="" class="w-[300px] rounded-lg" />
        </div>
        <div class="w-1/2 flex flex-col justify-between">
          <div class="frase mb-4">
            <span class="frase-sub block text-sm text-gray-500">{{ docente.subtitulo }}</span>
            <span class="frase-title block text-xl font-bold text-gray-800">{{ docente.nombre }}</span>
          </div>

          <div class="informacion-curso flex flex-col justify-between h-full">
            <span class="parrafo-cursos-ensamblado text-justify text-gray-700">
              {{ docente.biografia }}
            </span>
            <span class="frase-motivacion mt-4 italic text-green-700">"{{ docente.frase }}"</span>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
