<div class="max-w-7xl mx-auto bg-white rounded-lg shadow-sm">
  <div class="p-6 border-b border-gray-200">
    <h1 class="text-2xl font-bold text-gray-800">Lista de estudiantes</h1>
    <p class="text-gray-600 mt-1">> lista estudiantes</p>
  </div>

  <!-- Search and Filters -->
  <div class="p-6 border-b border-gray-200">
    <div class="flex justify-between items-center">
      <div class="relative w-1/3">
             <span class="absolute inset-y-0 right-1 p-2 flex items-center pl-3">
               <i class="pi pi-search text-gray-400"></i>
             </span>
        <input pInputText placeholder="Buscar estudiante..."
               [(ngModel)]="searchText"
               (input)="onSearchChange($event)"
               class="pl-10 w-full"/>
      </div>
      <div class="flex space-x-2">
        <p-dropdown [options]="statusOptions" placeholder="Status"
                    [(ngModel)]="selectedStatus"
                    (onChange)="onStatusChange($event)"
                    optionLabel="label" optionValue="value"></p-dropdown>

        <p-dropdown [options]="sourceOptions" placeholder="Lead Source"
                    [(ngModel)]="selectedSource"
                    (onChange)="onSourceChange($event)"
                    optionLabel="label" optionValue="value"></p-dropdown>

        <button pButton icon="pi pi-filter-slash" label="Clear"
                (click)="clearFilters(table)"
                class="p-button-outlined"></button>
      </div>
    </div>
  </div>

  <!-- Customer Table -->
  <div class="overflow-x-visible">
    <p-table #table
             [value]="filteredCustomers"
             [paginator]="true"
             [rows]=25
             [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [rowsPerPageOptions]="[5,10,25,50]"
             styleClass="p-datatable-striped">
      <ng-template #header>
        <tr>
          <th class="p-4 text-left">Nombre</th>
          <th class="p-4 text-left">Curso</th>
          <th class="p-4 text-left">Horario</th>
          <th class="p-4 text-left">Telefono</th>
          <th class="p-4 text-left">Modalidad</th>
          <th class="p-4 text-left">Estatus</th>
          <th class="p-4 text-left">Detalles</th>
        </tr>
      </ng-template>
      <ng-template #body let-customer>
        <tr class="hover:bg-gray-50">
          <td
            class="p-4 font-medium text-gray-900">{{ customer.estudiante.nombre }} {{ customer.estudiante.apellidoPaterno }} {{ customer.estudiante.apellidoMaterno }}
          </td>
          <td class="p-4 text-gray-600">{{ customer.curso.nombre }}</td>
          <td class="p-4 text-gray-600">{{ customer.horario.horaInicio }} - {{ customer.horario.horaFin }}</td>
          <td class="p-4 text-gray-600">{{ customer.estudiante.telefono }}</td>
          <td class="p-4">
                  <span [ngClass]="{
                    'bg-orange-100 text-orange-800': customer.curso.modalidad === 'Lunes a Viernes',
                    'bg-purple-100 text-purple-800': customer.curso.modalidad === 'Sabados',
                  }" class="px-2.5 py-0.5 rounded-full text-xs font-medium">
                    {{ customer.curso.modalidad }}
                  </span>
          </td>
          <td class="p-4">
                  <span [ngClass]="{
                    'bg-green-100 text-green-800': customer.estado === 'ACTIVO',
                    'bg-red-100 text-red-800': customer.estado === 'INACTIVO',
                    'bg-yellow-100 text-yellow-800': customer.estado === 'CONGELADO'
                  }" class="px-2.5 py-0.5 rounded-full text-xs font-medium">
                    {{ customer.estado | titlecase }}
                  </span>
          </td>
          <td class="p-4">
            <button
              pButton
              icon="pi pi-ellipsis-h"
              class="p-button-rounded p-button-text"
              (click)="openCustomerDetails(customer)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<p-dialog
  [(visible)]="showDialog"
  [modal]="true"
  [style]="{ width: '650px' }"
  [contentStyle]="{ padding: '0' }"
  [dismissableMask]="true"
  [baseZIndex]="10000"
  [showHeader]="false"
>
  <div class="p-6">
    <div class="flex justify-between items-start border-b pb-4 mb-4">
      <div>
        <h2 class="text-xl font-bold text-gray-800">Detalles del Estudiante</h2>
        <p class="text-sm text-gray-500">Información completa registrada</p>
      </div>
      <button
        type="button"
        class="text-gray-400 hover:text-gray-600 cursor-pointer"
        (click)="showDialog = false"
        aria-label="Cerrar"
      >
        <i class="pi pi-times text-lg"></i>
      </button>
    </div>

    <div *ngIf="selectedCustomer" class="grid grid-cols-1 md:grid-cols-2 gap-4 text-sm text-gray-700">
      <!-- Estudiante -->
      <div>
        <p class="font-medium font-bold text-gray-800">Nombre Completo</p>
        <p>{{ selectedCustomer.estudiante.nombre }} {{ selectedCustomer.estudiante.apellidoPaterno }} {{ selectedCustomer.estudiante.apellidoMaterno }}</p>
      </div>
      <div>
        <p class="font-medium font-bold text-gray-800">Teléfono</p>
        <p>{{ selectedCustomer.estudiante.telefono }}</p>
      </div>
      <div>
        <p class="font-medium font-bold text-gray-800">CI</p>
        <p>{{ selectedCustomer.estudiante.ci }}</p>
      </div>

      <div>
        <p class="font-medium font-bold text-gray-800">Estado</p>
        <span [ngClass]="{
                    'bg-green-100 text-green-800': selectedCustomer.estado === 'ACTIVO',
                    'bg-red-100 text-red-800': selectedCustomer.estado === 'INACTIVO',
                    'bg-yellow-100 text-yellow-800': selectedCustomer.estado === 'CONGELADO'
                  }" class="px-2.5 py-0.5 rounded-full text-xs font-medium">
                    {{ selectedCustomer.estado | titlecase }}
                  </span>
      </div>
      <!--      <div class="md:col-span-2">-->
      <!--        <p class="font-medium font-bold text-gray-800">Fecha de Registro</p>-->
      <!--        <p>{{ selectedCustomer.estudiante.fechaRegistro | date: 'longDate' }}</p>-->
      <!--      </div>-->

      <!-- Curso -->
      <div>
        <p class="font-medium font-bold text-gray-800">Curso</p>
        <p>{{ selectedCustomer.curso.nombre }}</p>
      </div>
      <div>
        <p class="font-medium font-bold text-gray-800">Modalidad</p>
        <span
          class="inline-block px-2.5 py-0.5 rounded-full text-xs font-medium"
          [ngClass]="{
            'bg-orange-100 text-orange-800': selectedCustomer.curso.modalidad === 'Lunes a Viernes',
            'bg-purple-100 text-purple-800': selectedCustomer.curso.modalidad === 'Sabados'
          }"
        >
          {{ selectedCustomer.curso.modalidad }}
        </span>
      </div>
      <div>
        <p class="font-medium font-bold text-gray-800">Duración (Meses)</p>
        <p>{{ selectedCustomer.curso.duracionMeses }}</p>
      </div>
      <!--      <div>-->
      <!--        <p class="font-medium font-bold text-gray-800">Estado Curso</p>-->
      <!--        <p>{{ selectedCustomer.estadoCurso }}</p>-->
      <!--      </div>-->

      <!-- Horario -->
      <div>
        <p class="font-medium font-bold text-gray-800">Turno</p>
        <p>{{ selectedCustomer.horario.turno }}</p>
      </div>
      <div>
        <p class="font-medium font-bold text-gray-800">Horario</p>
        <p>{{ selectedCustomer.horario.horaInicio }} - {{ selectedCustomer.horario.horaFin }}</p>
      </div>
      <!--      <div>-->
      <!--        <p class="font-medium font-bold text-gray-800">Estado Horario</p>-->
      <!--        <p>{{ selectedCustomer.horario.estado }}</p>-->
      <!--      </div>-->

      <!-- Inscripción -->
      <div>
        <p class="font-medium font-bold text-gray-800">Fecha de inicio de clases</p>
        <p>{{ selectedCustomer.fechaInicio | date: 'dd   MMMM  yyyy' }}</p>
      </div>
      <!--      <div class="md:col-span-2">-->
      <!--        <p class="font-medium font-bold text-gray-800">Estado Inscripción</p>-->
      <!--        <p>{{ selectedCustomer.estado }}</p>-->
      <!--      </div>-->
      <div>
        <p class="font-medium font-bold text-gray-800">Fecha estimada de conclusión</p>
        <p>{{ selectedCustomer?.fechaInicio | estimacionFecha:selectedCustomer.curso.duracionMeses | date: 'dd   MMMM  yyyy' }}</p>
      </div>
<!--      <div>-->
<!--        <p class="font-medium font-bold text-gray-800">Estado Certificado</p>-->
<!--        <p>{{ selectedCustomer.estadoCertificado ? selectedCustomer.estadoCertificado : 'No corresponde' }}</p>-->
<!--      </div>-->

      <!--      <div>-->
      <!--        <p class="font-medium font-bold text-gray-800">Estado Certificado</p>-->
      <!--        <p>{{ selectedCustomer.estadoCertificado }}</p>-->
      <!--      </div>-->
    </div>

    <div style="padding-top: 10px">
      <div *ngIf="selectedCustomer" class="grid grid-cols-1 md:grid-cols-1 gap-4 text-sm text-gray-700">

        <div>
<!--          <p class="font-bold text-gray-800" style="padding: 12px 0 5px 0; font-size: 15px">Pagos</p>-->
          <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
            @if (selectedCustomer.tipoInscripcion === 'total') {
              <div>
                <p class="font-medium font-bold text-gray-800" style="padding: 0 0 5px 0; font-size: 15px">Mensualidades</p>
                <p>Pago del curso completo</p>
              </div>
            }
            @if (selectedCustomer.tipoInscripcion === 'mensual') {
              <div>
                <p class="font-medium font-bold text-gray-800" style="padding: 0 0 5px 0; font-size: 15px">Mensualidades</p>
                <div class="grid grid-cols-3 md:grid-cols-3 gap-4">
                  @for (pagos of selectedCustomer.pagos; track pagos.id; let idx = $index) {
                    <div style="border: 1px dashed orange; padding: 5px">
                      <p class="font-medium font-bold text-gray-800" style="padding: 0 0 5px 0; font-size: 15px">Mensualidad</p>
                      <div class="flex gap-3">
                        <p class="font-medium font-bold text-gray-800">Monto: </p>
                        <p>{{ pagos.monto }}</p>
                      </div>

                      <div class="flex gap-3">
                        <p class="font-medium font-bold text-gray-800">Fecha: </p>
                        <p>{{ pagos.fechaPago }}</p>
                      </div>
                    </div>
                  }
                  <div>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>

        <div>
          <p class="font-medium font-bold text-gray-800">Estado de certificado</p>
          <p>{{ selectedCustomer.estadoCertificado }}</p>
        </div>

      </div>
    </div>
  </div>
</p-dialog>

