<!-- CURSO DE COMPUTACION -->
<div class="cursos-ensamblado">
  <div class="ensamblado">
    <div style="width: 50%; display: flex; justify-content: center">
      <img
        src="/assets/images/computacion-3.jpg"
        alt=""
        style="width: 500px; border-radius: 10px"
      />
    </div>
    <div
      style="
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      "
    >
      <div class="frase">
        <span class="frase-sub"
          >¡Aprende Computación desde Cero y Transforma tu Futuro!</span
        >
        <span class="frase-title">Curso de Computacion</span>
      </div>

      <div class="informacion-curso">
        <div class="flex flex-col">
          <span class="parrafo-cursos-ensamblado" style="text-align: justify">
            ¿No sabes cómo usar una computadora? ¿Te sientes fuera del mundo
            digital? Este curso es tu punto de partida. En el Instituto IBCT te
            enseñamos desde cero, paso a paso y con paciencia, para que domines
            el uso de la tecnología sin miedo. <br />
            Aprenderás a manejar el sistema operativo, navegar por internet de
            forma segura, crear documentos en Word, hojas de cálculo en Excel y
            presentaciones impactantes en PowerPoint. También te enseñaremos a
            usar el correo electrónico y plataformas digitales esenciales.
            <br /><br />
            Ideal para estudiantes, trabajadores, emprendedores o adultos
            mayores que quieran actualizarse y destacar.
          </span>
        </div>
        <!------------------------------ ICONOS PORQUE ELEGIRNOS------------------------- -->
        <div style="margin-top: 1.5rem">
          <span class="negrilla">¿Por qué elegirnos?</span>
          <div class="flex gap-2 items-center">
            <i
              class="pi pi-desktop"
              style="color: #00bfa5; font-size: 20px"
            ></i>
            <span>Aprende desde cero con apoyo personalizado</span>
          </div>
          <div class="flex gap-2 items-center">
            <i
              class="pi pi-thumbs-up"
              style="color: #00bfa5; font-size: 20px"
            ></i>
            <span>Clases prácticas, dinámicas y fáciles de entender</span>
          </div>
          <div class="flex gap-2 items-center">
            <i
              class="pi pi-briefcase"
              style="color: #00bfa5; font-size: 20px"
            ></i>
            <span>Mejora tus oportunidades laborales y académicas</span>
          </div>
          <div class="flex gap-2 items-center">
            <i
              class="pi pi-user-plus"
              style="color: #00bfa5; font-size: 20px"
            ></i>
            <span>Ambiente amigable y docentes expertos</span>
          </div>
        </div>
<!------------------------ LUGAR ICONOS CERTIFICADO------------ -->
        <div>
          <div class="flex gap-1" style="align-items: center">
            <i
              class="pi pi-clock"
              style="color: #bc0000; padding-bottom: 3px; font-size: 18px"
            ></i>
            <span style="font-weight: 600">Duracion:</span>
            <span>4 meses</span>
          </div>

          <div class="flex gap-1" style="align-items: center">
            <i
              class="pi pi-calendar"
              style="color: #bc0000; padding-bottom: 3px; font-size: 18px"
            ></i>
            <span style="font-weight: 600">Fecha de inicio:</span>
            <span>Cada lunes</span>
          </div>

          <div class="flex gap-1" style="align-items: center">
            <i
              class="pi pi-map-marker"
              style="color: #bc0000; padding-bottom: 3px; font-size: 18px"
            ></i>
            <span style="font-weight: 600">Sucursal:</span>
            <span>Cochabamba</span>
          </div>

          <div class="flex gap-1" style="align-items: center">
            <i
              class="pi pi-trophy"
              style="color: #bc0000; padding-bottom: 3px; font-size: 18px"
            ></i>
            <span style="font-weight: 600">Certificacion:</span>
            <span>Si</span>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------- -->
<!----------------------- HORARIOS----------------------------------------------------------------------------------------->
<div id="horarios" class="horarios">
  <span class="titulo-horarios">Horarios</span>
  <!--  <span class="frase-title">Horarios</span>-->
  <div class="bloques-horario">
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 70px; color: var(--amarillo)"></i>
      <span class="turnos-horario">Lunes a viernes</span>
      <span style="font-size: 14px">08:30 Am – 10:00 Am</span>
    </div>
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 70px; color: #e18708"></i>
      <span class="turnos-horario">Lunes a viernes</span>
      <span style="font-size: 14px">14:00 Pm – 17:00 Pm</span>
    </div>
    <div class="horario">
      <i
        class="pi pi-moon"
        style="font-size: 70px; color: rgba(43, 88, 176, 0.84)"
      ></i>
      <span class="turnos-horario">Lunes a viernes</span>
      <span style="font-size: 14px">19:30 Pm – 21:00 Pm</span>
    </div>
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 70px; color: var(--amarillo)"></i>
      <span class="turnos-horario">Sabados</span>
      <span style="font-size: 14px">14:00 Pm – 17:00 Pm</span>
    </div>
  </div>
</div>

<!-- 4 cuadros -->
<div id="contenido" class="cursos">
  <span class="contenido-curso">Contenido</span>
  <div class="bloques-cursos">
    <div class="bloque-curso">
      <span class="titulo-bloque">Manejo del Sistema Operativo (Windows)</span>
      <span class="parrafo-bloque">
        Aprenderás a encender, apagar y navegar por una computadora de manera
        segura. Te enseñaremos a organizar carpetas, mover archivos, instalar
        programas básicos y personalizar tu entorno de trabajo en el sistema
        operativo Windows. Este conocimiento es la base para usar cualquier
        equipo con confianza.
      </span>
    </div>
    <div class="bloque-curso">
      <span class="titulo-bloque"
        >Microsoft Word – Redacción y Formato de Documentos</span
      >
      <span class="parrafo-bloque">
        Domina la creación de documentos profesionales: cartas, informes,
        currículums y más. Aprenderás a dar formato al texto (negritas,
        márgenes, fuentes), insertar tablas, imágenes y organizar la información
        de manera clara. Ideal para estudiantes, trabajadores y emprendedores.
      </span>
    </div>
    <div class="bloque-curso">
      <span class="titulo-bloque"
        >Microsoft Excel – Cálculos y Organización de Datos</span
      >
      <span class="parrafo-bloque">
        Te enseñaremos a usar hojas de cálculo para realizar operaciones básicas
        (sumas, promedios, porcentajes), manejar datos en tablas, y crear
        gráficos visuales. Este contenido es clave para tareas administrativas,
        presupuestos personales o trabajo de oficina.
      </span>
    </div>
    <div class="bloque-curso">
      <span class="titulo-bloque"
        >Internet, Correo Electrónico y Herramientas Web</span
      >
      <span class="parrafo-bloque">
        Aprenderás a navegar por internet de forma segura, a buscar información
        útil, a crear y manejar una cuenta de correo electrónico, enviar y
        recibir archivos, y usar plataformas digitales como Google, YouTube y
        Zoom. Estas habilidades son esenciales hoy en día para estudiar,
        trabajar o comunicarte.
      </span>
    </div>
  </div>
</div>
