<!-- CURSO DE COMPUTACION -->
<div class="cursos-ensamblado">
  <div class="ensamblado">
    <div class="image-container-curso flex justify-center px-4">
      <div>
        <img
          src="/assets/images/computacion-curso.webp"
          alt=""
          style="width: 500px; border-radius: 10px"
        />
      </div>
    </div>
    <div
      class="image-container-curso"
      style="
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      "
    >
      <div class="frase">
        <span class="frase-sub"
          >¡Aprende Computación desde Cero y Transforma tu Futuro!</span
        >
        <span class="frase-title"
          >Curso de Computación Esencial: ¡Potencia tus Habilidades
          Digitales!</span
        >
      </div>

      <div class="informacion-curso">
        <div class="flex flex-col">
          <span class="parrafo-cursos-ensamblado" style="text-align: justify">
            Si no sabes cómo usar una computadora o buscas actualizar tus
            conocimientos, el Instituto IBCT tiene el curso perfecto para ti.
            Con nuestra metodología práctica y paciente, aprenderás a dominar la
            tecnología sin complicaciones, incluso si empiezas desde cero.
            <br />
            Adquiere las herramientas digitales clave para el éxito en el
            trabajo y la vida diaria: <br />
            ✅Manejo de Windows y organización de archivos. <br />
            ✅Office (Word, Excel, PowerPoint): Crea documentos, maneja datos y
            diseña presentaciones profesionales. <br />
            ✅Access y Publisher: Aprende a gestionar información y crear
            diseños básicos. <br />
            ✅Uso experto de Internet: Navega de forma segura y eficiente.
            <br />
            ✅WinRAR y WinZip: Optimiza tus archivos digitales. Dactilografía:
            Desarrolla una escritura rápida y precisa. <br />

            <br />
            Ideal para cualquier persona que desee entrar al mundo digital con
            confianza, incluyendo estudiantes, quienes buscan empleo,
            emprendedores y adultos mayores. ¡Prepárate para destacar!
          </span>
        </div>
        <!------------------------------ ICONOS PORQUE ELEGIRNOS------------------------- -->
        <div style="margin-top: rem">
          <span class="negrilla">¿Por qué elegirnos?</span>
          <div class="flex gap-2 items-center">
            <i
              class="pi pi-desktop"
              style="color: #00bfa5; font-size: 20px"
            ></i>
            <span>Aprende desde cero con apoyo personalizado</span>
          </div>
          <div class="flex gap-2 items-center">
            <i
              class="pi pi-thumbs-up"
              style="color: #00bfa5; font-size: 20px"
            ></i>
            <span>Clases prácticas, dinámicas y fáciles de entender</span>
          </div>
          <div class="flex gap-2 items-center">
            <i
              class="pi pi-briefcase"
              style="color: #00bfa5; font-size: 20px"
            ></i>
            <span>Mejora tus oportunidades laborales y académicas</span>
          </div>
          <div class="flex gap-2 items-center">
            <i
              class="pi pi-user-plus"
              style="color: #00bfa5; font-size: 20px"
            ></i>
            <span>Ambiente amigable y docentes expertos</span>
          </div>
        </div>
        <!------------------------ LUGAR ICONOS CERTIFICADO------------ -->
        <div>
          <div class="flex gap-1" style="align-items: center">
            <i
              class="pi pi-clock"
              style="color: #bc0000; padding-bottom: 3px; font-size: 18px"
            ></i>
            <span style="font-weight: 600">Duracion:</span>
            <span>3 meses</span>
          </div>

          <div class="flex gap-1" style="align-items: center">
            <!-- <i
              class="pi pi-calendar"
              style="color: #bc0000; padding-bottom: 3px; font-size: 18px"
            ></i> -->
            <!-- <span style="font-weight: 600">Fecha de inicio:</span>
            <span>Cada lunes</span> -->
          </div>

          <div class="flex gap-1" style="align-items: center">
            <i
              class="pi pi-map-marker"
              style="color: #bc0000; padding-bottom: 3px; font-size: 18px"
            ></i>
            <span style="font-weight: 600">Sucursal:</span>
            <span>Cochabamba</span>
          </div>

          <div class="flex gap-1" style="align-items: center">
            <i
              class="pi pi-trophy"
              style="color: #bc0000; padding-bottom: 3px; font-size: 18px"
            ></i>
            <span style="font-weight: 600">Certificacion:</span>
            <span>Si</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------- -->
<!----------------------- HORARIOS----------------------------------------------------------------------------------------->
<div id="horarios" class="horarios">
  <span class="titulo-horarios">Horarios</span>
  <!--  <span class="frase-title">Horarios</span>-->
  <div class="bloques-horario">
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 110px; color: var(--amarillo)"></i>
      <span class="turnos-horario">Mañana</span>
      <!-- <span style="font-size: 14px">08:30 Am – 10:00 Am</span> -->
    </div>
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 110px; color: #e18708"></i>
      <span class="turnos-horario">Tarde</span>
      <!-- <span style="font-size: 14px">14:00 Pm – 17:00 Pm</span> -->
    </div>
    <div class="horario">
      <i
        class="pi pi-moon"
        style="font-size: 110px; color: rgba(43, 88, 176, 0.84)"
      ></i>
      <span class="turnos-horario">Noche</span>
      <!-- <span style="font-size: 14px">19:30 Pm – 21:00 Pm</span> -->
    </div>
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 110px; color: var(--amarillo)"></i>
      <span class="turnos-horario">Sabados</span>
      <!-- <span style="font-size: 14px">14:00 Pm – 17:00 Pm</span> -->
    </div>
  </div>
</div>

<!-- 10  programas cuadros -->

<div id="contenido" class="cursos">
  <span class="contenido-curso">Contenido</span>
  <div class="bloques-cursos">
    <!-- 1. Windows -->
    <div class="bloque-curso">
      <img
        src="/assets/images/windows.png"
        alt="Logo de Excel"
        width="70"
        style="display: block; margin: 0 auto"
      />

      <span class="titulo-bloque"> Windows 10</span>
      <span class="parrafo-bloque">
        Aprenderás a encender, apagar utilizar una computadora de manera
      profesional. 
      </span>
    </div>

    <!-- 2. Word -->
    <div class="bloque-curso">
      <img
        src="/assets/images/word.png"
        alt="Logo de Excel"
        width="70"
        style="display: block; margin: 0 auto"
      />
      <span class="titulo-bloque">Microsoft Word </span>
      <span class="parrafo-bloque">
        Aprende a crear documentos profesionales como cartas, informes y
        documentos. 
      </span>
    </div>

    <!-- 3. Excel -->
    <div class="bloque-curso">
      <img
        src="/assets/images/excel.png"
        alt="Logo de Excel"
        width="90"
        style="display: block; margin: 0 auto"
      />
      <span class="titulo-bloque">Microsoft Excel</span>
      <span class="parrafo-bloque">
        Aprende a trabajar con hojas de cálculo, fórmulas básicas, porcentajes,
        promedios y gráficos. 
      </span>
    </div>

    <!-- 4. PowerPoint -->
    <div class="bloque-curso">
      <img
        src="/assets/images/point.png"
        alt="Logo de Excel"
        width="70"
        style="display: block; margin: 0 auto"
      />
      <span class="titulo-bloque">Microsoft PowerPoint</span>
      <span class="parrafo-bloque">
        Aprende a crear presentaciones visuales usando texto, imágenes,
        animaciones y transiciones. 
      </span>
    </div>

    <!-- 5. Internet -->
    <div class="bloque-curso">
      <img
        src="/assets/images/crome.png"
        alt="Logo de Excel"
        width="70"
        style="display: block; margin: 0 auto"
      />
      <span class="titulo-bloque">Internet</span>
      <span class="parrafo-bloque">
        Aprenderás a navegar por la web, buscar información confiable, manejar
        redes sociales. 
      </span>
    </div>

    <!-- 6. Access -->
    <div class="bloque-curso">
      <img
        src="/assets/images/acces.png"
        alt="Logo de Excel"
        width="70"
        style="display: block; margin: 0 auto"
      />
      <span class="titulo-bloque">Microsoft Access</span>
      <span class="parrafo-bloque">
        Aprende a crear bases de datos, tablas, formularios y consultas. 
      </span>
    </div>

    <!-- 7. WinRAR -->
    <div class="bloque-curso">
      <img
        src="/assets/images/winrar.png"
        alt="Logo de Excel"
        width="70"
        style="display: block; margin: 0 auto"
      />
      <span class="titulo-bloque">WinRAR</span>
      <span class="parrafo-bloque">
        Aprende a comprimir archivos en formato RAR o ZIP 
      </span>
    </div>

    <!-- 8. WinZip -->
    <div class="bloque-curso">
      <img
        src="/assets/images/winzip.png"
        alt="Logo de Excel"
        width="70"
        style="display: block; margin: 0 auto"
      />
      <span class="titulo-bloque">WinZip</span>
      <span class="parrafo-bloque">
        Descubre cómo usar WinZip para comprimir documentos, archivos, imagenes, videos.
  
      </span>
    </div>

    <!-- 9. Publisher -->
    <div class="bloque-curso">
      <img
        src="/assets/images/publisher.png"
        alt="Logo de Excel"
        width="70"
        style="display: block; margin: 0 auto"
      />
      <span class="titulo-bloque">Microsoft Publisher</span>
      <span class="parrafo-bloque">
        Aprende a crear folletos, tarjetas, invitaciones y otros materiales
        impresos. 
      </span>
    </div>

    <!-- 10. Dactilografía -->
    <div class="bloque-curso">
      <img
        src="/assets/images/mecanografia.png"
        alt="Logo de Excel"
        width="90"
        style="display: block; margin: 0 auto"
      />
      <span class="titulo-bloque">Dactilografía</span>
      <span class="parrafo-bloque">
        Mejora tu velocidad y precisión al escribir. Aprenderás la ubicación
        correcta de los dedos.
      </span>
    </div>
  </div>
</div>
