<!-- CURSO ENSAMBLADO -->
<div class="cursos-ensamblado">
  <div class="ensamblado">
    <div style="width: 50%; display: flex; justify-content: center">
      <img
        src="/assets/images/ensamblado.png"
        alt=""
        style="width: 500px; border-radius: 10px"
      />
    </div>
    <div
      style="
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      "
    >
      <div class="frase">
        <span class="frase-sub">Estudia Con Nosotros</span>
        <span class="frase-title">Curso De Ensamblado de computadoras</span>
      </div>

      <div class="informacion-curso">
        <div class="flex flex-col">
          <span class="parrafo-cursos-ensamblado" style="text-align: justify">
            Con el respaldo del Centro de Capacitación IBCT, este curso técnico
            está diseñado para formar expertos en ensamblado, reparación y
            mantenimiento de computadoras, laptops e impresoras. Reconocimiento
            de componentes, solución de fallas electrónicas, instalación de
            sistemas, limpieza técnica, y reseteo de impresoras. Está dirigido a
            quienes buscan conocimientos sólidos para trabajar en soporte
            técnico, mantenimiento de equipos o iniciar su propio servicio. La
            formación es presencial con prácticas reales y guías profesionales.
          </span>
        </div>

        <div>
          <span class="negrilla">Ventajas:</span>
          <div class="flex gap-1">
            <i class="pi pi-check" style="color: #73bc00"></i>
            <span>Formación 100% práctica</span>
          </div>
          <div class="flex gap-1">
            <i class="pi pi-check" style="color: #73bc00"></i>
            <span>Acceso a materiales y herramientas profesionales</span>
          </div>
          <div class="flex gap-1">
            <i class="pi pi-check" style="color: #73bc00"></i>
            <span>Aprendizaje desde cero</span>
          </div>
          <div class="flex gap-1">
            <i class="pi pi-check" style="color: #73bc00"></i>
            <span>Enfoque laboral y emprendedor</span>
          </div>
        </div>

        <div>
          <div class="flex gap-1" style="align-items: center">
            <i
              class="pi pi-clock"
              style="color: #bc0000; padding-bottom: 3px; font-size: 18px"
            ></i>
            <span style="font-weight: 600">Duracion:</span>
            <span>3 meses</span>
          </div>

          <div class="flex gap-1" style="align-items: center">
            <i
              class="pi pi-calendar"
              style="color: #bc0000; padding-bottom: 3px; font-size: 18px"
            ></i>
            <span style="font-weight: 600">Fecha de inicio:</span>
            <span>Cada lunes</span>
          </div>

          <div class="flex gap-1" style="align-items: center">
            <i
              class="pi pi-map-marker"
              style="color: #bc0000; padding-bottom: 3px; font-size: 18px"
            ></i>
            <span style="font-weight: 600">Sucursal:</span>
            <span>Cochabamba</span>
          </div>

          <div class="flex gap-1" style="align-items: center">
            <i
              class="pi pi-trophy"
              style="color: #bc0000; padding-bottom: 3px; font-size: 18px"
            ></i>
            <span style="font-weight: 600">Certificacion:</span>
            <span>Si</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------- -->
<!----------------------- HORARIOS----------------------------------------------------------------------------------------->
<div class="horarios">
  <span class="titulo-horarios">Horarios</span>
  <!--  <span class="frase-title">Horarios</span>-->
  <div class="bloques-horario">
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 70px; color: var(--amarillo)"></i>
      <span class="turnos-horario">Lunes a viernes</span>
      <span style="font-size: 14px">10:30 Am – 12:00 Am</span>
    </div>
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 70px; color: #e18708"></i>
      <span class="turnos-horario">Lunes a viernes</span>
      <span style="font-size: 14px">15:30 Pm – 17:00 Pm</span>
    </div>
    <div class="horario">
      <i
        class="pi pi-moon"
        style="font-size: 70px; color: rgba(43, 88, 176, 0.84)"
      ></i>
      <span class="turnos-horario">Lunes a viernes</span>
      <span style="font-size: 14px">19:30 Pm – 21:00 Pm</span>
    </div>
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 70px; color: var(--amarillo)"></i>
      <span class="turnos-horario">Sabados</span>
      <span style="font-size: 14px">14:00 Pm – 17:00 Pm</span>
    </div>
  </div>
</div>

<!-- 4 cuadros -->
<div class="cursos">
  <span class="contenido-curso">Contenido</span>
  <div class="bloques-cursos">
    <div class="bloque-curso">
      <span class="titulo-bloque">Ensamblaje</span>
      <span class="parrafo-bloque">
        Este módulo especializado.  El participante aprenderá a identificar y
        montar componentes como placa madre, RAM, discos, fuentes y tarjetas,
        además de diagnosticar fallas, aplicar mantenimiento técnico, usar
        testers y software de diagnóstico. También incluye instalación de
        sistemas operativos, configuración de BIOS y controladores. La formación
        es 100% práctica, ideal para quienes buscan dominar el soporte técnico
        en hardware y e instalacion de programas de manera profesional.
      </span>
    </div>
    <div class="bloque-curso">
      <span class="titulo-bloque">Instalacion</span>
      <span class="parrafo-bloque">
        En esta unidad, los estudiantes aprenderán a instalar sistemas
        operativos y software básico en computadoras previamente ensambladas o
        formateadas. Se enfocarán en la preparación del equipo, configuración de
        la BIOS/UEFI, selección de unidades de instalación (USB, DVD), y el
        proceso paso a paso para instalar un sistema operativo (como Windows,
        Linux, etc.). También se explorará la instalación de controladores y
        programas esenciales para el funcionamiento del equipo.
      </span>
    </div>
    <div class="bloque-curso">
      <span class="titulo-bloque">Impresoras</span>
      <span class="parrafo-bloque">
        Este módulo se especializa en la reparación y mantenimiento de
        impresoras. El Estudiante aprenderá a identificar
        componentes internos, diagnosticar fallas electrónicas y mecánicas,
        realizar limpieza técnica, reseteo de chips y reemplazo de piezas.
        Incluye calibración, instalación de drivers y configuración avanzada. La
        formación es práctica y orientada a resolver problemas reales, ideal
        para técnicos que buscan especializarse en servicio y soporte de
        impresoras.
      </span>
    </div>
    <div class="bloque-curso">
      <span class="titulo-bloque">Redes</span>
      <span class="parrafo-bloque">
        En esta unidad, los estudiantes aprenderán qué son las redes de
        computadoras, cómo funcionan, cuáles son sus elementos principales y su
        utilidad en la vida diaria. Se abordarán los tipos de redes, los
        dispositivos necesarios para su funcionamiento, y conceptos básicos como
        direcciones IP, protocolos de comunicación y acceso a Internet. También
        se enseñará cómo crear una red local sencilla (LAN) y cómo mantener la
        seguridad básica en el uso de redes.
      </span>
    </div>
  </div>
</div>
