<!-- BANNER -->
<div style="padding-top: 50px"></div>

<div class="carousel-page">
  <p-carousel
    [value]="banners"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="5000"
    [showIndicators]="true"
    [showNavigators]="false"
    containerClass="w-full"
    contentClass="overflow-hidden"
    indicatorsContentClass="absolute left-1/2 transform -translate-x-1/2 z-10 top-50 md:top-100 lg:top-150"
  >
    <ng-template pTemplate="item" let-banner>
      <div class="w-full h-[200px] md:h-[400px] lg:h-[600px] relative">
        <img
          [src]="banner.src"
          alt="banner"
          class="w-full h-full object-cover"
        />

        <button
          *ngIf="banner.isButtonVisible"
          class="profesores-docentes absolute left-6 top-[90%] transform -translate-y-1/2 bg-white bg-opacity-70 text-black px-4 py-2 rounded-lg shadow hover:bg-opacity-90 transition"
          (click)="irRuta(banner.route)"
        >
          Ver más
        </button>
      </div>
    </ng-template>
  </p-carousel>
</div>

<div class="Estadistica">
  <div class="creativos">
    <span class="creativos-numero">+2000</span>
    <span class="creativos-letras">Estudiantes graduados</span>
  </div>

  <div class="creativos" style="width: 200px">
    <span class="creativos-numero">+20</span>
    <span class="creativos-letras">Estudiantes nuevos cada semana</span>
  </div>

  <div class="creativos">
    <span class="creativos-numero">+1000</span>
    <span class="creativos-letras">Estudiantes ya trabajan</span>
  </div>

  <!--  <div class="creativos">-->
  <!--    <span class="creativos-numero">30000</span>-->
  <!--    <span class="creativos-letras">Pesaas alcanzadas</span>-->
  <!--  </div>-->
</div>
<!-- BLANCO -->
<div id="ventajas" class="p-15 flex flex-col gap-8">
  <div class="frase">
    <span class="frase-sub">Mira nuestras ventajas</span>
    <span class="frase-title">Ventajas de estudiar con nosotros</span>
  </div>
  <!-- ULTIMO -->
  <div class="ultimo">
    <div class="cuadrado gap-7">
      <img class="cuadrado-imagen" src="/assets/images/aprendizaje.png" />

      <div class="flex flex-col">
        <span class="cuadrado-titulo">Ingreso rápido al mundo laboral</span>
        <span class="cuadrado-parrafo"
          >Desde el primer módulo ya estás desarrollando habilidades que te
          permitirán trabajar o emprender.</span
        >
      </div>
    </div>

    <div class="cuadrado gap-7">
      <img class="cuadrado-imagen" src="/assets/images/primero.png" />

      <div class="flex flex-col">
        <span class="cuadrado-titulo">Duración corta y eficiente</span>
        <span class="cuadrado-parrafo"
          >Nos enfocamos solo en lo que necesitas para desempeñarte
          profesionalmente en tu área.</span
        >
      </div>
    </div>

    <div class="cuadrado gap-7">
      <img class="cuadrado-imagen" src="/assets/images/naranja.png" />

      <div class="flex flex-col">
        <span class="cuadrado-titulo">Ambiente de Apoyo y Motivación</span>
        <span class="cuadrado-parrafo"
          >Fomentamos un entorno positivo donde te sentirás acompañado en cada
          etapa de tu formación.</span
        >
      </div>
    </div>

    <div class="cuadrado gap-7">
      <img class="cuadrado-imagen" src="/assets/images/bien.png" />

      <div class="flex flex-col">
        <span class="cuadrado-titulo">Instalaciones Equipadas:</span>
        <span class="cuadrado-parrafo"
          >Disponemos de laboratorios y aulas con tecnología actualizada para
          una mejor experiencia de aprendizaje.</span
        >
      </div>
    </div>
  </div>
</div>
<!-- plantel docente -->
<div id="docentes" class="profesores">
  <div class="descripcion">
    <div class="flex flex-col">
      <span class="frase-sub">Docentes Calificados</span>
      <span class="profesores-frase"
        >Tenemos el Mejor Plantel Docente en su Area</span
      >
    </div>
    <span class="profesores-parrafo">
      Contamos con un equipo de Docentes altamente capacitados, con amplia
      experiencia práctica y académica en cada una de sus especialidades.
      Nuestros docentes no solo dominan los contenidos técnicos, sino que
      también están comprometidos con una enseñanza dinámica, clara y
      personalizada, adaptándose al ritmo de cada estudiante para garantizar un
      aprendizaje efectivo y aplicable al mundo laboral.
    </span>
    <button (click)="irRuta('docentes')" class="profesores-docentes">
      Ver Docentes
    </button>
  </div>

  <div class="profesores-img">
    <img
      class="w-1/2"
      src="/assets/images/docentes.webp"
      alt="Docentes"
      style="width: 400px; border-radius: 10px"
    />
  </div>
</div>

<div id="cursos" class="p-15 flex flex-col gap-8">
  <div class="frase">
    <span class="frase-sub">Mira nuestras areas</span>
    <span class="frase-title">Nuestros cursos</span>
  </div>
  <!-- 4 cursos -->
  <div class="cuatro-cursos-rectangulo">
    <div
      class="flex flex-col gap-5 curso-card"
      style="border: 1px solid #ffd7005c; border-radius: 10px"
    >
      <span
        class="rectangulo-titulo"
        (click)="toggleCurso('conputacion')"
        [class.open]="curso == 'conputacion'"
      >
        <i
          class="pi pi-desktop"
          style="
            font-size: 15px;
            padding: 9px;
            background-color: rgba(115, 188, 0, 0.32);
            color: #73bc00;
            border-radius: 5px;
          "
        ></i>
        Curso De Computación
      </span>
      <div class="ensamblado" *ngIf="curso == 'conputacion'" @expandCollapse>
        <div
          class="image-container-curso"
          style="display: flex; justify-content: center"
        >
          <img
            src="/assets/images/computacion-curso.webp"
            alt=""
            style="width: 500px; border-radius: 10px"
          />
        </div>
        <div
          class="image-container-curso"
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          "
        >
          <div class="frase">
            <span class="frase-sub">Domina la computación</span>
            <span class="frase-title">Curso de Computación </span>
          </div>
          <div class="flex flex-col gap-3">
            <span style="text-align: justify">
              ¡Impulsa tu carrera dominando la computadora! Adquiere las
              habilidades digitales esenciales para el mundo laboral y
              educativo. Nuestro curso práctico abarca desde Windows y Office
              (Word, Excel, PowerPoint, Access, Publisher) hasta internet,
              WinRAR, WinZip y dactilografía. Prepárate para trabajar en
              cualquier entorno, ya sea en una oficina, empresa o de forma
              autónoma.
            </span>
            <span> ✅ Certificado con valor curricular </span>
            <span> ✅ Ideal para adultos, jóvenes y trabajadores</span>
            <span> ✅ Aprendizaje desde cero y paso a paso </span>
            <span>
              Prepárate para el mundo laboral, académico o personal con
              habilidades que abren puertas.
            </span>
          </div>
          <!-- BOTON -->
          <button class="profesores-curso" (click)="irRuta('computacion')">
            Ver curso
          </button>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col gap-5 curso-card"
      style="border: 1px solid #ffd7005c; border-radius: 10px"
    >
      <span
        class="rectangulo-titulo"
        (click)="toggleCurso('celulares')"
        [class.open]="curso == 'celulares'"
      >
        <i
          class="pi pi-mobile"
          style="
            font-size: 15px;
            padding: 9px;
            background-color: rgba(188, 135, 0, 0.32);
            color: #5b00bc;
            border-radius: 5px;
          "
        ></i>
        Curso De Reparación De Celulares
      </span>

      <div class="ensamblado" *ngIf="curso == 'celulares'" @expandCollapse>
        <div
          class="image-container-curso"
          style="display: flex; justify-content: center"
        >
          <img
            src="/assets/images/reparacion-celulares.webp"
            alt=""
            style="width: 500px; border-radius: 10px"
          />
        </div>
        <div
          class="image-container-curso"
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          "
        >
          <div class="frase">
            <span class="frase-sub">Domina la computación</span>
            <span class="frase-title">Curso De Reparación De Celulares</span>
          </div>
          <div class="flex flex-col gap-3">
            <span style="text-align: justify">
              El Curso de Reparación de Celulares está diseñado para formar
              técnicos capacitados en la detección y solución de fallas en
              dispositivos móviles. A través de clases prácticas, aprenderás a
              cambiar pantallas, reparar puertos de carga, solucionar errores de
              software y realizar mantenimiento completo. Con el uso de
              herramientas profesionales, dominarás técnicas actuales aplicadas
              a equipos Android e iPhone. Ideal para emprender tu propio negocio
              o trabajar en servicios técnicos. Al finalizar, obtendrás
              certificación con respaldo técnico.
            </span>
            <span> ✅ Aprendizaje 100% práctico </span>
            <span> ✅ Alta demanda en el mercado </span>
            <span> ✅ Certificación avalada por IBCT </span>
            <span> Aprende hoy lo que el mercado necesita mañana </span>
          </div>
          <!-- BOTON -->
          <button
            class="profesores-curso"
            (click)="irRuta('reparacion-celulares')"
          >
            Ver curso
          </button>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col gap-5 curso-card"
      style="border: 1px solid #ffd7005c; border-radius: 10px"
    >
      <span
        class="rectangulo-titulo"
        (click)="toggleCurso('diseño')"
        [class.open]="curso == 'diseño'"
      >
        <i
          class="pi pi-palette"
          style="
            font-size: 15px;
            padding: 9px;
            background-color: rgba(236, 133, 33, 0.32);
            color: #e18708;
            border-radius: 5px;
          "
        ></i>
        Curso De Diseño Gráfico
      </span>

      <div class="ensamblado" *ngIf="curso == 'diseño'" @expandCollapse>
        <div
          class="image-container-curso"
          style="display: flex; justify-content: center"
        >
          <img
            src="/assets/images/diseño-grafico.webp"
            alt=""
            style="width: 500px; border-radius: 10px"
          />
        </div>
        <div
          class="image-container-curso"
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          "
        >
          <div class="frase">
            <span class="frase-sub">Domina las artes gráficas</span>
            <span class="frase-title">Curso De Diseño Gráfico</span>
          </div>
          <div class="flex flex-col gap-3">
            <span style="text-align: justify">
              Este curso te capacita en el manejo profesional de herramientas
              como Photoshop, Illustrator y Canva para crear diseños creativos e
              impactantes. Aprenderás a elaborar logotipos, afiches, contenido
              para redes sociales, identidad visual y más. Con un enfoque
              práctico y actualizado, desarrollarás tu portafolio desde cero y
              estarás listo para trabajar en agencias, emprendimientos o como
              diseñador freelance. Incluye certificación técnica y acceso a
              material digital exclusivo.
            </span>
            <span> ✅ Clases prácticas desde el primer día </span>
            <span> ✅ Incluye certificado profesional </span>
            <span>
              ✅ Docentes con experiencia en diseño y marketing digital
            </span>
            <span>
              Aprende diseño gráfico y haz que el mundo vea lo que imaginas.
            </span>
          </div>
          <!-- BOTON -->
          <button class="profesores-curso" (click)="irRuta('diseño-grafico')">
            Ver curso
          </button>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col gap-5 curso-card"
      style="border: 1px solid #ffd7005c; border-radius: 10px"
    >
      <span
        class="rectangulo-titulo"
        (click)="toggleCurso('bar')"
        [class.open]="curso == 'bar'"
      >
        <i
          class="pi pi-filter"
          style="
            font-size: 15px;
            padding: 9px;
            background-color: rgba(227, 1, 186, 0.32);
            color: #bc0000;
            border-radius: 5px;
          "
        ></i>
        Curso De Bartender
      </span>

      <div class="ensamblado" *ngIf="curso == 'bar'" @expandCollapse>
        <div
          class="image-container-curso"
          style="display: flex; justify-content: center"
        >
          <img
            src="/assets/images/bartender.webp"
            alt=""
            style="width: 500px; border-radius: 10px"
          />
        </div>
        <div
          class="image-container-curso"
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          "
        >
          <div class="frase">
            <span class="frase-sub">Aprende a impresionar con cada copa.</span>
            <span class="frase-title">Curso De Bartender Profesional</span>
          </div>
          <div class="flex flex-col gap-3">
            <span style="text-align: justify">
              Aprende el arte de preparar cócteles, tragos y bebidas especiales
              con estilo y técnica profesional. Este curso te enseñará desde
              mezclas clásicas hasta presentaciones modernas, incluyendo flair
              bartending, decoración y servicio al cliente. Ideal para trabajar
              en bares, restaurantes, eventos o emprender tu propio negocio.
              Clases prácticas, materiales incluidos y certificación final.
              Desarrolla tus habilidades en un entorno dinámico, divertido y
              profesional. ¡Convierte tu pasión por las bebidas en una profesión
              rentable!
            </span>
            <span> ✅ Aprendizaje práctico y dinámico </span>
            <span> ✅ Oportunidades laborales en el rubro gastronómico </span>
            <span> ✅ Certificación evalada por IBCT </span>
            <span>
              Prepárate para el mundo laboral, académico o personal con
              habilidades que abren puertas.
            </span>
          </div>
          <!-- BOTON -->
          <button class="profesores-curso" (click)="irRuta('bartender')">
            Ver curso
          </button>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col gap-5 curso-card"
      style="border: 1px solid #ffd7005c; border-radius: 10px"
    >
      <span
        class="rectangulo-titulo"
        (click)="toggleCurso('ensamblado')"
        [class.open]="curso == 'ensamblado'"
      >
        <i
          class="pi pi-wrench"
          style="
            font-size: 15px;
            padding: 9px;
            background-color: rgba(0, 160, 188, 0.32);
            color: #003cbc;
            border-radius: 5px;
          "
        ></i>
        Curso De Ensamblado y Reparación de Computadoras
      </span>
      @if (curso == 'ensamblado') {
      <div class="ensamblado" @expandCollapse>
        <div
          class="image-container-curso"
          style="display: flex; justify-content: center"
        >
          <img
            src="/assets/images/ensamblado-computadoras.webp"
            alt=""
            style="width: 500px; border-radius: 10px"
          />
        </div>
        <div
          class="card-container-curso"
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          "
        >
          <div class="frase">
            <span class="frase-sub">Domina la computación</span>
            <span class="frase-title"
              >Curso De Ensamblado y Reparación de Computadoras</span
            >
          </div>
          <div class="flex flex-col gap-3">
            <span style="text-align: justify">
              Aprende a ensamblar computadoras desde cero, diagnosticar fallas
              en laptops y realizar mantenimiento preventivo y correctivo en
              impresoras. Este curso está orientado a quienes desean trabajar en
              soporte técnico o crear su propio negocio. Incluye prácticas con
              hardware real, configuración de BIOS, instalación de sistemas
              operativos y técnicas de limpieza profunda.
            </span>
            <span> ✅ Prácticas 100% reales con equipos actuales.</span>
            <span> ✅ Aprendes hardware, software y diagnóstico. </span>
            <span> ✅Enseñanza paso a paso desde cero. </span>
            <span>
              Prepárate para el mundo laboral, académico o personal con
              habilidades que abren puertas.
            </span>
          </div>
          <!-- BOTON -->
          <button
            class="profesores-curso"
            (click)="irRuta('ensamblado-computadoras')"
          >
            Ver curso
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</div>

<div
  class="flex flex-col gap-8 p-15"
  style="background-color: #f2f2f2; align-items: center"
>
  <div class="frase">
    <span class="frase-sub">Sabemos quiénes somos y hacia dónde vamos.</span>
    <span class="frase-title">Misión y visión</span>
  </div>
  <!-- cuadrados -->
  <div class="bloques-cursos">
    <div class="bloque-curso">
      <span class="titulo-bloque">Misión</span>
      <span class="parrafo-bloque">
        Formar integralmente a personas y profesionales a través de programas de
        capacitación de alta calidad, orientados al desarrollo de competencias
        técnicas, humanas y tecnológicas.
      </span>
    </div>
    <div class="bloque-curso">
      <span class="titulo-bloque">Visión</span>
      <span class="parrafo-bloque">
        Ser un centro de capacitación líder a nivel nacional e internacional,
        reconocido por su excelencia educativa, innovación metodológica y
        compromiso con el desarrollo sostenible,
      </span>
    </div>
  </div>
  <!-- VALORES -->

  <span class="frase-title">Valores</span>
  <div class="valores-ibct">
    <div class="valor">
      <i
        class="pi pi-users"
        style="
          font-size: 15px;
          padding: 9px;
          background-color: rgba(0, 123, 255, 0.79);
          color: rgba(255, 255, 255, 0.76);
          border-radius: 5px;
        "
      ></i>
      <span class="texto">Respeto</span>
    </div>

    <div class="valor">
      <i
        class="pi pi-lock"
        style="
          font-size: 15px;
          padding: 9px;
          background-color: rgba(40, 167, 69, 0.82);
          color: rgba(255, 255, 255, 0.79);
          border-radius: 5px;
        "
      ></i>
      <span class="texto">Integridad</span>
    </div>

    <div class="valor">
      <i
        class="pi pi-check-circle"
        style="
          font-size: 15px;
          padding: 9px;
          background-color: rgba(255, 193, 7, 0.86);
          color: rgba(255, 255, 255, 0.81);
          border-radius: 5px;
        "
      ></i>
      <span class="texto">Compromiso</span>
    </div>

    <div class="valor">
      <i
        class="pi pi-clock"
        style="
          font-size: 15px;
          padding: 9px;
          background-color: rgba(220, 53, 69, 0.87);
          color: rgba(255, 255, 255, 0.82);
          border-radius: 5px;
        "
      ></i>
      <span class="texto">Diligencia</span>
    </div>
  </div>
</div>
<!-- cuadrados azul oscuro-->

<div id="comentarios" class="flex flex-col gap-8 p-15">
  <div class="frase">
    <span class="frase-sub">Nuestros momentos</span>
    <span class="frase-title">Que dicen nuestros estudiantes de nosotros</span>
  </div>
  <!-- glen -->
  <!-- 3 cuadrados -->
  <div class="ultimodos">
    <div class="cuadradodos">
      <div class="cuadradodos-header">
        <p-avatar
          image="https://randomuser.me/api/portraits/men/6.jpg"
          shape="circle"
          size="large"
        ></p-avatar>
        <div class="cuadradodos-textos">
          <span class="cuadradodos-titulo">José</span><br />
          <span class="cuadradito-titulo">José Luis Méndez</span>
        </div>
      </div>
      <span class="cuadradodos-parrafo">
        "El curso de diseño gráfico superó mis expectativas. Aprendí a usar
        herramientas como Photoshop e Illustrator, y ahora puedo hacer trabajos
        freelance. Muy agradecido con los profesores."
      </span>
      <div class="estrellas">⭐⭐⭐⭐⭐</div>
    </div>

    <div class="cuadradodos">
      <div class="cuadradodos-header">
        <p-avatar
          image="https://randomuser.me/api/portraits/men/12.jpg"
          shape="circle"
          size="large"
        ></p-avatar>
        <div class="cuadradodos-textos">
          <span class="cuadradodos-titulo">Marío</span><br />
          <span class="cuadradito-titulo">Marío Gómez</span>
        </div>
      </div>
      <span class="cuadradodos-parrafo">
        "Gracias a este curso, ahora puedo ofrecer servicios de reparación de
        celulares por mi cuenta. Aprendí desde lo más básico hasta técnicas
        avanzadas. Excelente inversión de tiempo."
      </span>
      <div class="estrellas">⭐⭐⭐⭐⭐</div>
    </div>

    <div class="cuadradodos">
      <div class="cuadradodos-header">
        <p-avatar
          image="https://randomuser.me/api/portraits/men/2.jpg"
          shape="circle"
          size="large"
        ></p-avatar>
        <div class="cuadradodos-textos">
          <span class="cuadradodos-titulo">Carlos</span><br />
          <span class="cuadradito-titulo">Carlos Eduardo Ramírez</span>
        </div>
      </div>
      <span class="cuadradodos-parrafo">
        "El curso de computación me ayudó a desarrollar habilidades básicas que
        ahora aplico diariamente en mi trabajo. Los instructores fueron
        pacientes y explicaron todo de forma clara. ¡Muy recomendable!"
      </span>
      <div class="estrellas">⭐⭐⭐⭐⭐</div>
    </div>

    <div class="cuadradodos">
      <div class="cuadradodos-header">
        <p-avatar
          image="https://randomuser.me/api/portraits/men/4.jpg"
          shape="circle"
          size="large"
        ></p-avatar>
        <div class="cuadradodos-textos">
          <span class="cuadradodos-titulo">Valeria</span><br />
          <span class="cuadradito-titulo">Valeria Sofía Núñez</span>
        </div>
      </div>
      <span class="cuadradodos-parrafo">
        "Siempre quise trabajar en bares, y con este curso aprendí todo lo
        necesario sobre coctelería y atención al cliente. Ya conseguí mi primer
        trabajo como bartender. ¡Mil gracias!"</span
      >
      <div class="estrellas">⭐⭐⭐⭐⭐</div>
    </div>
  </div>
</div>

<div
  id="ubicacion"
  class="p-15 flex flex-col gap-8"
  style="align-items: center; background-color: #f2f2f2"
>
  <div class="frase">
    <span class="frase-sub">Donde puedes encontrarnos</span>
    <span class="frase-title">Nuestra ubicación</span>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d237.95659032639813!2d-66.1539572604232!3d-17.397123235558567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e373b73fd16c5d%3A0x845ee0af1d54450c!2sIBCT%20Centro%20de%20capacitaci%C3%B3n%20t%C3%A9cnica!5e0!3m2!1ses!2sbo!4v1750216641537!5m2!1ses!2sbo"
    width="90%"
    height="500"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
