.barra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px 0px 100px;
  position: fixed;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 70px;
}

.logo span {
  font-weight: 600;
  line-height: 15px;
}

.enlaces {
  display: flex;
  gap: 15px;
  gap: 15px;
  font-weight: 500;
  cursor: pointer;
}

.Estadistica {
  display: flex;
  background-color: var(--amarillo);
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 50px;
  flex-wrap: wrap;
  gap: 20px;
}

.frase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ultimo {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cuadrado {
  background-color: var(--azul);
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 270px;
  border-radius: 20px;
  color: white;
}

.cuadrado-imagen {
  width: 40px;
}

.cuadrado-titulo {
  color: var(--amarillo);
}

.cuadrado-parrafo {
  color: white;
  font-weight: 300;
}

.profesores {
  display: flex;
  align-items: center;
  padding: 20px 15%;
  background-color: #F2F2F2;
  height: 100% !important;
  gap: 20px;
}

.descripcion {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 300px;
  height: 100%;
}

.profesores-titulo {
  display: flex;
}

.profesores-img {
  width: 50%;
  display: flex;
  justify-content: end;
}

.profesores-frase {
  font-weight: 600;
  font-size: 25px;

}

.profesores-docentes {
  padding: 10px;
  width: 170px;
  background-color: var(--amarillo);
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.profesores-curso {
  padding: 10px;
  width: 170px;
  border: 1px solid var(--amarillo);
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.profesores-parrafo {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: justify;
}/* estilos banner */

.contenedor-imagen {
  width: 100%;
  height: 600px;;
  /*background-image: url(./imagenes/banner.png);*/
  background-size: cover;
}

.creativos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  justify-content: center;
  text-align: center;
  color: var(--azul);
}

.creativos-numero {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

.creativos-letras {
  font-weight: 500;
  line-height: 20px;
}

.frase-sub {
  color: var(--rojo);
  font-weight: 400;
}

.frase-title {
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}

/* SEGUNDO MODULO */

.areas {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.nuestras-areas {
  display: flex;
  color: darkorange;
  font-weight: bolder;
}

.nuestros-cursos {
  display: flex;
  font-weight: bold;
  font-size: 35px;
}

.areas-reparacion {
  display: flex;
  background-color: rgb(245, 209, 3);
  align-items: center;
  padding: 10px 12px 23px 15px;
  font-size: 17px;
  font-weight: bold;
}


.areas{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
.nuestras-areas{
  display: flex;
  color: darkorange;
  font-weight: bolder;
}
.nuestros-cursos{
  display: flex;
  font-weight: bold;
  font-size: 35px;
}
.areas-reparacion{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 17px;
  font-weight: bold;
  background-color: gold;
  width: 220px;
  height: 5px;
  margin-left: 35px;
  border-radius: 8px;
}
.areas-reparacion-computadoras{
  display: flex;
  font-size: 20px;

}
.areas-reparacion-computadoras-icono{
  display: flex;
  padding: 10px ;
}

.cuatro-cursos-rectangulo {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  transition: all 0.5s ease-in-out;
}

.ensamblado{
  display: flex;
  align-content: center;
  padding: 5px 30px 30px 30px;
  overflow: hidden;
}

.computadoras-ensamblados{
  display: flex;
  color: darkorange;
  font-weight: bold;
  font-size: 18px;
}
.ensamblado-reparacion{
  display: flex;
  font-weight: bold;
  font-size: 16px;
}
/* boton Incribite */
.boton-inscribite{
  display: flex;
  background-color: var(--amarillo);
  font-size: 16px;
  font-weight: bolder;
  border-radius: 10px;
  cursor: pointer;
}
/* 4 cursos */
.cuatro-cursos {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.cuatro-cursos-rectangulo {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.rectangulo-titulo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: var(--amarillo);
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: max-content;
}

.open {
  border-radius: 8px 0 8px 0;
}

.icono-cursos {
  width: 30px;
  height: 30px;
  object-fit: contain;
}


/* ESTO HAYQUE REVISAR POR COMPLETO */
/* .icono-cursos{
    display: flex;
   margin-right: 10px;
} */
.estudiantes{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: darkorange;
  font-weight: bold;
}
.estudiantes-opinion{
  display: flex;
  font-weight: bold;
  justify-content: center;
}
/* glen*/
/* 3 cuadrados*/
.ultimodos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.cuadradodos {
  background-color:var(--azul);
  padding: 20px;
  width: 300px; /* Ajustado para que entren 3 en pantalla */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 290px;
}

.cuadradodos-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cuadradodos-imagen {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.cuadradodos-titulo {
  color: var(--amarillo);
  font-weight: bold;
  font-size: 15px;
}
.cuadradito-titulo {
  color: var(--amarillo);
  font-weight: normal;
  font-size: 13px;
}
.cuadradodos-parrafo {
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.estrellas {
  margin-top: 5px;
  font-size: 18px;
  color: gold; /* emojis */
}
/* final columnas*/
.columnas-texto {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: space-around;
  height: 350px;
  align-items: center;
}

.columna {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.columna a{
  cursor: pointer;
}

.fila-logo {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.logo-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.imagen-columna {
  width: 113px;
  height: 57px;
  margin-top: 4px;
}

.texto-logo {
  display: flex;
  flex-direction: column;
}

.iconos-redes img {
  width: 22px;
  margin-right: 10px;
  margin-top: 5px;
}

.iconos-redes {
  display: flex;
}

@media (max-width: 768px) {
  .profesores{
    justify-content: center;
    flex-wrap: wrap;
  }

  .reparacion-computadoras {
    width: fit-content;
  }

  .carousel-page {
    display: none;
  }
}
