<div class="barra z-10">
  <div class="logo">
    <img src="assets/images/LOGO%20IBCT.png" alt="IBCT logo"/>
    <span>Centro de Capacitacion <br/>TECNICA PRIVADA</span>
  </div>
  <div class="enlaces">
    <a>Inicio</a>
    <a>Cursos</a>
    <a href="#docentes">Administrativos</a>
    <a>Contacto</a>
  </div>
</div>
<!-- BANNER -->

<router-outlet></router-outlet>

<!-- final -->
<div>
  <div style="padding: 0 10%">
    <hr>
  </div>
  <div class="columnas-texto">
    <div class="columna fila-logo">
      <div class="logo-footer">
        <img src="/assets/images/LOGO%20IBCT.png" alt="Logo" class="imagen-columna">
        <strong>Centro de capacitación TÉCNICA PRIVADO</strong>
      </div>
      <div class="texto-logo">
        <span>Impulsa tu futuro con formación técnica de calidad.</span>
        <div class="iconos-redes">
          <i class="pi pi-whatsapp"
             style="font-size: 20px; padding: 9px"></i>
          <i class="pi pi-facebook"
             style="font-size: 20px; padding: 9px"></i>
          <i class="pi pi-instagram"
             style="font-size: 20px; padding: 9px"></i>
        </div>
      </div>
    </div>

    <div class="columna">
      <strong>Links</strong>
      <a>Inicio</a>
      <a>Cursos</a>
      <a>Administrativos</a>
    </div>

    <div class="columna">
      <strong>Segmentos</strong>
      <a>Ventajas</a>
      <a>Docentes</a>
      <a>Cursos</a>
      <a>Comentarios</a>
    </div>
  </div>

  <div style="padding: 0 10%">
    <hr>
  </div>
  <div class="flex justify-center">
    <span style="font-size: 13px; text-align: center" class="p-6">{{ "@copyright 2025 Instituto ICBT" }}</span>
  </div>
</div>
