@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";

@import "tailwindcss";
@import "primeicons/primeicons.css";

:root {
  --amarillo: #FFDF00;
  --azul: #003386;
  --rojo: #EA580C;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
