<!-- CURSO ENSAMBLADO -->
<div class="cursos-ensamblado">

  <div class="ensamblado">
    <div class="image-container-curso flex justify-center px-4">
      <div>
        <img src="/assets/images/bartender.webp" alt="" style="width: 500px; border-radius: 10px"/>
      </div>
    </div>
    <div class="card-container-curso" style="display: flex; flex-direction: column; justify-content: space-between">
      <div class="frase">
        <span class="frase-sub">Convierte tu pasión en una carrera con estilo y sabor.</span>
        <span class="frase-title">Curso de Bartender</span>
      </div>

      <div class="informacion-curso">
        <div class="flex flex-col">
          <span class="parrafo-cursos-ensamblado" style="text-align: justify">
            El curso de Bartender en el Instituto IBCT está diseñado para quienes
              desean aprender el arte de preparar y servir cócteles con profesionalismo, creatividad
              y técnica. Con un enfoque práctico, dinámico y actual, este programa te permitirá trabajar
              en bares, restaurantes, eventos y hoteles, o incluso emprender tu propio servicio de bar móvil.
          </span>
        </div>

        <div>
          <span class="negrilla">Porque elegir este curso</span>
          <div class="flex gap-1">
            <i class="pi pi-check" style="color: #73BC00"></i>
            <span>Alta demanda laboral</span>
          </div>
          <div class="flex gap-1">
            <i class="pi pi-check" style="color: #73BC00"></i>
            <span>Formación práctica y dinámica</span>
          </div>
          <div class="flex gap-1">
            <i class="pi pi-check" style="color: #73BC00"></i>
            <span>Ideal para emprendedores</span>
          </div>
          <div class="flex gap-1">
            <i class="pi pi-check" style="color: #73BC00"></i>
            <span>Prácticas con equipos reales</span>
          </div>
        </div>

        <div>
          <div class="flex gap-1" style="align-items: center">
            <i class="pi pi-clock" style="color: #bc0000; padding-bottom: 3px;  font-size: 18px"></i>
            <span style="font-weight: 600">Duracion:</span>
            <span>3 meses</span>
          </div>

          <div class="flex gap-1" style="align-items: center">
            <i class="pi pi-calendar" style="color: #bc0000; padding-bottom: 3px;  font-size: 18px"></i>
            <span style="font-weight: 600">Fecha de inicio:</span>
            <span>Cada lunes</span>
          </div>

          <div class="flex gap-1" style="align-items: center">
            <i class="pi pi-map-marker" style="color: #bc0000; padding-bottom: 3px;  font-size: 18px"></i>
            <span style="font-weight: 600">Sucursal:</span>
            <span>Cochabamba</span>
          </div>

          <div class="flex gap-1" style="align-items: center">
            <i class="pi pi-trophy" style="color: #bc0000; padding-bottom: 3px;  font-size: 18px"></i>
            <span style="font-weight: 600">Certificacion:</span>
            <span>Si</span>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
<!-- ---------------------------------------------------------------------------------------------- -->
<!----------------------- HORARIOS----------------------------------------------------------------------------------------->
<div class="horarios">
  <span class="titulo-horarios">Horarios</span>
  <!--  <span class="frase-title">Horarios</span>-->
  <div class="bloques-horario">
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 110px; color: var(--amarillo)"></i>
      <span class="turnos-horario">Mañana</span>
      <!-- <span style="font-size: 14px">08:30 Am – 10:00 Am</span> -->
    </div>
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 110px; color: #e18708"></i>
      <span class="turnos-horario">Tarde</span>
      <!-- <span style="font-size: 14px">15:30 Pm – 17:00 Pm</span> -->
    </div>
    <div class="horario">
      <i class="pi pi-moon" style="font-size: 110px; color: rgba(43,88,176,0.84)"></i>
      <span class="turnos-horario">Noche</span>
      <!-- <span style="font-size: 14px">19:30 Pm – 21:00 Pm</span> -->
    </div>
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 110px; color: var(--amarillo)"></i>
      <span class="turnos-horario">Sabados</span>
      <!-- <span style="font-size: 14px">14:00 Pm – 17:00 Pm</span> -->
    </div>
  </div>
</div>



<div id="contenido" class="cursos">
  <span class="contenido-curso">Contenido</span>
  <div class="bloques-cursos">

    
    <div class="bloque-curso">
      <img src="/assets/images/jugos.webp" alt="Herramientas de bar" width="120" style="display: block; margin: 0 auto" />
      <span class="titulo-bloque">Herramientas y Utensilios</span>
      <span class="parrafo-bloque">
        Conoce los utensilios esenciales como la coctelera, jigger, muddler y vaso mezclador, y su correcto uso.
      </span>
    </div>

  
    <div class="bloque-curso">
      <img src="/assets/images/tecnicas.webp" alt="Técnicas de bartender" width="120" style="display: block; margin: 0 auto" />
      <span class="titulo-bloque">Técnicas de Coctelería</span>
      <span class="parrafo-bloque">
        Aprende métodos como agitado, mezclado, escarchado, flameado y decoración de tragos.
      </span>
    </div>

  
    <div class="bloque-curso">
      <img src="/assets/images/recetas.webp" alt="Recetas de tragos" width="120" style="display: block; margin: 0 auto" />
      <span class="titulo-bloque">Recetas Clásicas</span>
      <span class="parrafo-bloque">
        Prepara cócteles tradicionales como Mojito, Margarita, Daiquiri, Negroni y muchos más.
      </span>
    </div>

    
    <div class="bloque-curso">
      <img src="/assets/images/servicio.webp" alt="Servicio en barra" width="120" style="display: block; margin: 0 auto" />
      <span class="titulo-bloque">Servicio y Presentación</span>
      <span class="parrafo-bloque">
        Mejora la experiencia del cliente con un servicio profesional, presentación visual y atención al detalle.
      </span>
    </div>

  </div>
</div>


<!--<div class="transformacion">-->
<!--  <span class="transformacion-titulo">Instituto IBCT – Transformando el talento en futuro</span>-->
<!--  <span class="transformacion-parrafo">-->
<!--        Nuestro compromiso va más allá de la enseñanza técnica: inspiramos a nuestros estudiantes-->
<!--        a creer en su potencial, a superar barreras y a construir un futuro mejor para ellos y sus-->
<!--        comunidades. Con programas actualizados, docentes expertos y un enfoque centrado en la práctica-->
<!--        real, IBCT es el puente entre la vocación y el éxito profesional.-->
<!--      </span>-->
<!--  <button>Sobre Nosotros</button>-->
<!--</div>-->
