<!-- CURSO ENSAMBLADO -->
<div class="cursos-ensamblado">

  <div class="ensamblado">
    <div style="width: 50%; display: flex; justify-content: center">
      <img src="/assets/images/bartender.jpg" alt="" style="width: 500px; border-radius: 10px"/>
    </div>
    <div style="width: 50%; display: flex; flex-direction: column; justify-content: space-between">
      <div class="frase">
        <span class="frase-sub">Convierte tu pasión en una carrera con estilo y sabor.</span>
        <span class="frase-title">Curso de Bartender</span>
      </div>

      <div class="informacion-curso">
        <div class="flex flex-col">
          <span class="parrafo-cursos-ensamblado" style="text-align: justify">
            El curso de Bartender en el Instituto IBCT está diseñado para quienes
              desean aprender el arte de preparar y servir cócteles con profesionalismo, creatividad
              y técnica. Con un enfoque práctico, dinámico y actual, este programa te permitirá trabajar
              en bares, restaurantes, eventos y hoteles, o incluso emprender tu propio servicio de bar móvil.
          </span>
        </div>

        <div>
          <span class="negrilla">Porque elegir este curso</span>
          <div class="flex gap-1">
            <i class="pi pi-check" style="color: #73BC00"></i>
            <span>Alta demanda laboral</span>
          </div>
          <div class="flex gap-1">
            <i class="pi pi-check" style="color: #73BC00"></i>
            <span>Formación práctica y dinámica</span>
          </div>
          <div class="flex gap-1">
            <i class="pi pi-check" style="color: #73BC00"></i>
            <span>Ideal para emprendedores</span>
          </div>
          <div class="flex gap-1">
            <i class="pi pi-check" style="color: #73BC00"></i>
            <span>Prácticas con equipos reales</span>
          </div>
        </div>

        <div>
          <div class="flex gap-1" style="align-items: center">
            <i class="pi pi-clock" style="color: #bc0000; padding-bottom: 3px;  font-size: 18px"></i>
            <span style="font-weight: 600">Duracion:</span>
            <span>3 meses</span>
          </div>

          <div class="flex gap-1" style="align-items: center">
            <i class="pi pi-calendar" style="color: #bc0000; padding-bottom: 3px;  font-size: 18px"></i>
            <span style="font-weight: 600">Fecha de inicio:</span>
            <span>Cada lunes</span>
          </div>

          <div class="flex gap-1" style="align-items: center">
            <i class="pi pi-map-marker" style="color: #bc0000; padding-bottom: 3px;  font-size: 18px"></i>
            <span style="font-weight: 600">Sucursal:</span>
            <span>Cochabamba</span>
          </div>

          <div class="flex gap-1" style="align-items: center">
            <i class="pi pi-trophy" style="color: #bc0000; padding-bottom: 3px;  font-size: 18px"></i>
            <span style="font-weight: 600">Certificacion:</span>
            <span>Si</span>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
<!-- ---------------------------------------------------------------------------------------------- -->
<!----------------------- HORARIOS----------------------------------------------------------------------------------------->
<div class="horarios">
  <span class="titulo-horarios">Horarios</span>
  <!--  <span class="frase-title">Horarios</span>-->
  <div class="bloques-horario">
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 70px; color: var(--amarillo)"></i>
      <span class="turnos-horario">Lunes a viernes</span>
      <span style="font-size: 14px">08:30 Am – 10:00 Am</span>
    </div>
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 70px; color: #e18708"></i>
      <span class="turnos-horario">Lunes a viernes</span>
      <span style="font-size: 14px">15:30 Pm – 17:00 Pm</span>
    </div>
    <div class="horario">
      <i class="pi pi-moon" style="font-size: 70px; color: rgba(43,88,176,0.84)"></i>
      <span class="turnos-horario">Lunes a viernes</span>
      <span style="font-size: 14px">19:30 Pm – 21:00 Pm</span>
    </div>
    <div class="horario">
      <i class="pi pi-sun" style="font-size: 70px; color: var(--amarillo)"></i>
      <span class="turnos-horario">Sabados</span>
      <span style="font-size: 14px">14:00 Pm – 17:00 Pm</span>
    </div>
  </div>
</div>

<!-- 4 cuadros -->
<div class="cursos">
  <span class="contenido-curso">Contenido</span>
  <div class="bloques-cursos">
    <div class="bloque-curso">
      <span class="titulo-bloque">Coctelería Clásica y Moderna</span>
      <span class="parrafo-bloque">
            Aprenderás a preparar cócteles icónicos como el Mojito, Margarita,
            Negroni, Daiquiri y Manhattan, así como nuevas tendencias en mixología.
            Te enseñaremos técnicas de agitado, batido, flameado y servido, respetando
            proporciones, presentación y sabores equilibrados
          </span>
    </div>
    <div class="bloque-curso">
      <span class="titulo-bloque">Tipos de Bebidas y Licores</span>
      <span class="parrafo-bloque">
          Conocerás en profundidad los distintos tipos de bebidas alcohólicas:
          ron, vodka, whisky, gin, tequila, licores y bitters. Aprenderás sus
          características, combinaciones ideales, y cómo seleccionarlos según el tipo de cóctel o cliente.
          </span>
    </div>
    <div class="bloque-curso">
      <span class="titulo-bloque">Técnicas de Servicio y Atención al Cliente</span>
      <span class="parrafo-bloque">
            Desarrollarás habilidades de comunicación, lenguaje corporal, y agilidad para brindar un
            servicio profesional detrás de la barra. También aprenderás normas de higiene, presentación
            personal, manejo responsable del alcohol y protocolo en eventos y bares.
          </span>
    </div>
    <div class="bloque-curso">
      <span class="titulo-bloque">Organización de la Barra y Manejo de Insumos</span>
      <span class="parrafo-bloque">
            Aprenderás a montar y organizar una barra correctamente, a controlar inventario de licores,
            frutas e insumos, y a optimizar tiempos durante el servicio. Este contenido es esencial para
            trabajar de forma ordenada, rápida y profesional, especialmente en eventos o locales concurridos.
          </span>
    </div>
  </div>
</div>

<!--<div class="transformacion">-->
<!--  <span class="transformacion-titulo">Instituto IBCT – Transformando el talento en futuro</span>-->
<!--  <span class="transformacion-parrafo">-->
<!--        Nuestro compromiso va más allá de la enseñanza técnica: inspiramos a nuestros estudiantes-->
<!--        a creer en su potencial, a superar barreras y a construir un futuro mejor para ellos y sus-->
<!--        comunidades. Con programas actualizados, docentes expertos y un enfoque centrado en la práctica-->
<!--        real, IBCT es el puente entre la vocación y el éxito profesional.-->
<!--      </span>-->
<!--  <button>Sobre Nosotros</button>-->
<!--</div>-->
